.App {
  text-align: center;
}

.btn-getpokemon{
  background: gray;
  color: white;
  padding: 10px 25px 10px 25px;
  border: none;
  margin-top: 10px;
  border-radius: 5px;
}

li{
  list-style: inside;
  font-size: 30px;
}