.App {
  text-align: center;
}

form{
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.btn-add{
  margin-top: 10px;
  width: 40%;
}

li{
  list-style: none;
  margin-bottom: 10px;
}

input{
  padding: 10px;
}

.btn-add{
  background-color: rgb(49, 87, 255);
  color: white;
  border: none;
  border-radius: 5px;
}

.btn-delete{
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
}

span{
  text-decoration: line-through;
}