*{
    margin: 0;
    padding: 0;
}

a{
    color: yellow;
    margin: 2px;
}

.wrapper{
    width: 970px;
    background-color: blue;
}

header{
    display: flex;
    orientation: row;
    padding: 2%;
    
}

header img{
    width: 30%;
}

header .header-info{
    padding: 2%;
    color: white;
    background-color: black;
    margin-left: 40%;
    border: solid;
    border-radius: 20px;
    border-color: black;

}

.search{
    margin-top: 5px;
    display: flex;
    orientation: row;
}

.search input{
    padding-left: 40px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.search button{
    width: 25px;
}